body {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
}

a {
    color: black;
}

a:hover {
    color: #ffb411;
}

.nav-bar {
    background-color: #f0f0f0;
    color: #000000;
    margin-left: 2rem;
}

.mainpage, .lift-form, .lift-stats, .guide-page {
    margin-top: 5em;
}

#logo {
    margin-right: 1.5em;
}

@media only screen and (min-width: 600px) {

}